* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  /* background-color: pink; */
}
.card {
  height: 300px;
  width: 600px;
  background-color: bisque;
  position: relative;
}
.line-h {
  border: 1px solid black;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  left: 2rem;
}
.line-v {
  border: 1px solid black;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  top: 2rem;
}
.box-back-1 {
  width: 600px;
  height: 70px;
  background-color: blueviolet;
  position: absolute;
  top: 40%;
  left: -3rem;
}
.box-back-2 {
  /* width: 100px; */
  height: 70px;
  background-color: blueviolet;
  position: absolute;
  top: 40%;
  right: -3rem;
  left: 100%;
}
.title {
  position: absolute;
  top: 40%;
  left: 3rem;
}
p {
  position: absolute;
  top: 70%;
  left: 3rem;
}
